@import "variables.less"; 


html, body { 
  font-family: 'Open Sans', sans-serif !important;
  color: @primary-font-color;
  background-color: @background-color; 

  padding: 0; 
  margin: 0;
}



#SolarCarTelemetry { 
  margin: 0; 
  padding: 0;

  .nav-bar { 
    width: 200px;
    height: 100vh; 

    border-right: 1px solid #dadada;
    resize: horizontal; 
    overflow: auto;

    display: block; 
    float: left;

    ul { 
      padding: 0; 
      margin: 0; 

      li { 
        list-style: none; 
        padding: 10px 5px;
        cursor: pointer;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        
        &:hover { 
          background-color: @nav-highlight-color;
        }
        &.active { 
          background-color: @nav-active-color;
        }
      }
    }
  }


  .data-view { 
    display: inline-block; 
    padding-left: 10px;
  }


  #NotificationContainer { 
    .alert { 
      position: absolute; 
      top: 1em; 
      right: 1em;
      cursor: default;
    }
  }
}